################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/teleBot
/bin/Debug/netcoreapp3.1
/obj
